@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test Application</h1>

</div>



<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Datepicker - Default functionality</title>
@Styles.Render("~/Content/css")
<link rel="stylesheet" type="text/css" href="style.css">


<form action="Interviewer/AddSlot" method="post">
    <p>Date: <input type="text" id="datepicker"></p>
    <div id="all-time">
        <div class="time" id="9">9:00 am</div>
        <div class="time" id="10">10:00 am</div>
        <div class="time" id="11">11:00 am</div>
        <div class="time" id="12">12:00 pm</div>
        <div class="time" id="1">1:00 pm</div>
        <div class="time" id="2">2:00 pm</div>
        <div class="time" id="3">3:00 pm</div>
        <div class="time" id="4">4:00 pm</div>
    </div>
    <div id="picked">

        <text>You picked </text>
        <text id="date-picked"></text>
        <text> at </text>
        <text id="time-picked"></text>
        </br>
        <button type="submit" id="submit">Confirm</button>

    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@Scripts.Render("~/bundles/site")





